.DS_Store
.idea/
.vscode/
__pycache__/
*.py[cod]

.venv/
venv/
.ipynb_checkpoints/

data/raw/
data/cache/
*.csv
!results/metrics/*.csv
!data/external/*.csv

results/submissions/*
!results/submissions/.gitkeep

*.pt
*.pth
*.pkl
*.joblib

